@import "./helpers/variables.scss";
@import "./helpers/helpers";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  display: inline;
  padding: unset;
}

header {
  padding: 40px 0;
  .header_content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      & {
        display: block;
        padding-left: 30px;
      }
    }

    .header_logo {
      @media screen and (max-width: 992px) {
        & {
          margin-bottom: 20px;
        }
      }

      span {
        // font-size: $fs-3;
        // font-weight: $fw-bold;
        // color: $color-primary;
        @include styleText($fs-3, $fw-bold, $color-primary);
      }
    }
    .header_nav {
      ul {
        list-style: none;
        li {
          display: inline;
          margin-right: 20px;
          position: relative;

          &::after {
            content: "";
            width: 0;
            height: 3px;
            background-color: $color-primary;
            position: absolute;
            bottom: -10px;
            left: 0;
            transition: all 0.5s;
          }

          &.active {
            a {
              color: $color-primary;
            }
            &::after {
              width: 100%;
            }
          }

          &:hover {
            &::after {
              width: 100%;
            }
            a {
              color: $color-primary;
            }
          }

          a {
            text-decoration: none;
            @include styleText($fs-1, $fw-semibold, $color-secondary);
          }
        }
      }
    }
  }
}

.banner {
  background-image: url("https://images.sidearmdev.com/resize?url=https://dxbhsrqyrr690.cloudfront.net/sidearm.nextgen.sites/owlsports.com/images/2020/2/26/TU_NikeAnnouncement.jpg&height=1100&type=webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  background-position: center;

  .banner_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 992px) {
      & {
        flex-direction: column;
        justify-content: center;
      }
    }

    .banner_text {
      width: 40%;

      @media screen and (max-width: 992px) {
        & {
          text-align: center;
          margin-bottom: 50px;
        }
      }

      h1 {
        @include styleText($fs-5, $fw-bold, $color-white);
      }

      .sub_title {
        @include styleText($fs-3, $fw-bold, $color-white);
        margin: 20px 0;
      }

      .description {
        line-height: 1.5;
        @include styleText($fs-2, $fw-medium, $color-white);
      }
    }

    .banner_img {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

.cart-modal-header {
  background-color: $color-primary;
  color: $color-white;
}

.cart-modal-footer {
  background-color: $color-primary;
  button {
    @include styleButton(
      10px 20px,
      $color-white,
      2px solid $color-primary,
      $color-primary,
      $color-white,
      2px solid $color-primary,
      $color-primary
    );
  }
}

.cart-modal-body {
  color: $color-secondary;
}

.product-modal-content {
  .product-modal-header {
    text-align: center;
    background-color: $color-primary;
    h3 {
      color: $color-white;
    }
    p {
      color: $color-white;
    }
  }

  .product-modal-body {
    img {
      width: auto;
    }
    h4 {
      color: $color-secondary;
    }
    .size-buttons {
      display: inline;
      button {
        background-color: $color-secondary;
      }
    }
  }

  .product-modal-footer {
    text-align: center;
    background-color: $color-primary;
    .related-products {
      h3 {
        color: $color-white;
      }
    }
  }
}

.related-products {
  h3 {
    color: $color-white;
  }
  .related-products-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .related-products-item {
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
      h3 {
        color: $color-primary;
      }
      background-color: $color-white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      img {
        filter: grayscale(9);
        transition: all 0.5s;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 100%;
        background-color: $color-white;
        border-radius: 10px;
        &:hover {
          filter: grayscale(0);
        }
      }
      width: calc(100% / 3 - 10px);
      transition: all 0.5s;
      &:hover {
        transform: translateY(-20px);
        box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
      }
    }
  }
}

.btn-cart {
  position: relative;
  margin-top: 40px;
  color: $color-primary;
  display: flex;
  justify-content: end;

  .quantity-of-cart-list {
    justify-content: end;
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    text-align: center;
    color: $color-white;
    font-size: 16px;
    font-weight: 600;
    background-color: $color-primary;
    border-radius: 50%;
  }
}

.product {
  padding: 80px 0 30px;

  .product_title {
    text-align: center;

    h2 {
      @include styleText($fs-3, $fw-bold, $color-secondary);
    }
    .button_group {
      .btn-danger {
        @include styleButton(
          10px 20px,
          $color-primary,
          2px solid transparent,
          $color-white,
          $color-primary,
          2px solid $color-primary,
          $color-white
        );
        margin-right: 5px;
        &.active {
          @include styleButton(
            10px 20px,
            $color-white,
            2px solid $color-primary,
            $color-primary,
            $color-white,
            2px solid $color-primary,
            $color-primary
          );
        }
      }
    }
  }

  .product_content {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      & {
        padding-left: 30px;
      }
    }

    .product_item {
      transition: all 0.5s;
      &:hover {
        transform: translateY(-20px);
        img {
          filter: grayscale(0);
        }
        background-color: $color-primary;
        .product_text {
          h3,
          p {
            color: $color-white;
          }
          .buy_price {
            span {
              transform: translateY(0);
              color: $color-white;
            }
            button {
              transform: translateX(0);
              color: $color-white;
            }
          }
        }
      }

      width: calc(100% / 3 - 30px);
      background-color: $color-white;
      padding: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 8px;

      @media screen and (max-width: 992px) {
        & {
          width: calc(100% / 2 - 30px);
        }
      }

      img {
        transition: all 0.5s;
        filter: grayscale(9);

        background-color: $color-white;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px;
      }
      .product_text {
        transition: all 0.5s;

        margin-top: 10px;
        h3 {
          display: flex;
          justify-content: space-between;
          @include styleText($fs-2, $fw-bold, $color-secondary);
        }

        .shortDescription {
          margin-top: 5px;
          @include styleText($fs-1, $fw-thin, $color-secondary);
        }

        .buy_price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;

          span {
            transition: all 0.5s;
            color: transparent;
            font-size: 40px;
            font-weight: bold;
            width: 50%;
            text-align: center;
            transform: translateY(50px);
          }

          button {
            font-size: 40px;
            width: 50%;
            border: none;
            background: none;
            transition: all 1s;
            color: transparent;
            transform: translatex(-250px);
          }
        }
      }
    }
  }
}
