// color:
$color-primary: #bb2649;
$color-secondary: #1d355e;
$color-white: #ffffff;

// font-weight:
$fw-thin: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// font-size:
$fs-1: 16px;
$fs-2: 18px;
$fs-3: 25px;
$fs-4: 40px;
$fs-5: 60px;

// spacing
$spacer: 1rem;
